<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/Head') %>
    <title>Document</title>
</head>
<body>

    <%- include('./partials/Nav') %>

    
    <h1>Home Page</h1>
    <%- include('./partials/Scripts') %>
</body>
</html>